*{
	margin: 0;
	padding: 0;
}
.top{
	float: right;
	margin-right: 12px;
	margin-top: 19px;
}
ul{
	list-style: none;
}
.top li{float: left;
        line-height: 24px;
        margin-left: 24px;
        position: relative;}
.top a{
	color: black;
	font-size: 14px;
	text-decoration: none;
}
.top li:nth-child(-n+6){
    font-weight: 900;
    font-size: 13px;
}
.top li:last-child{
	width: 60px;
	height: 24px;
	background-color: #3388ff;
	text-align: center;
}
.top li:last-child a{
	color: white;
}
.box1{
    position: absolute;
    width: 70px;
    height: 104px;
    border: solid 1px black;
    left: -22px;
    display: none;
}
.top li:nth-child(8):hover .box1{
	display: block;
}
.box1 a{
	text-decoration: none;
	display:block;
	height: 26px;
	line-height: 26px;
	text-align: center;
    background: white;
}
.box1 a:hover{
	background:#3388ff;
}
.box2{
	width: 0px;
	height: 0px;
	border: solid 8px black;
	border-bottom:solid 15px red ;
}
