*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
html,body{
	width: 100%;
	height: 100%;
}
.header{
	width: 100%;
	height: 75px;
	position: relative;
	/*position: fixed;*/
	/*background-color: lightyellow;*/
}
.header .nav-right{
	/*width: 100%;*/
	height: 75px;
	position: absolute;
	right: 47px;
	float: right;
	margin-right: 15px;
	/*position: relative;*/
}
.header .nav-right>div{
	/*z-index: 1;*/
	height: 75px;
	float: left;
	line-height: 75px;
	margin-right: 27px;
	color: #333;
	font-weight: bolder;
	font-size: 13px;
	text-decoration: underline;
}
.header .nav-right>div:hover{
	color: blue;
	cursor: pointer;
}
.header .nav-right>div:nth-child(n+7){
	font-weight: normal;
}
/*.header .nav-right>div:nth-child(9){
	height: 30px;
	margin: 24px auto;
	padding: 0 5px;
	line-height: 30px;
	font-weight: bolder;
	background-color: rgb(51,136,255);
	color: #fff;
	text-decoration: none;
	cursor: default;
}*/
.header .nav-right .set{
	position: relative;
}
.header .nav-right .set .set-wrap{
	position: absolute;
	left: -28px;
	top: 55px;
	width: 80px;
	height: 120px;
	border: 1px solid #ccc;
	display: none;
	box-sizing: border-box;
}
.header .nav-right .set:hover .set-wrap{
	display: block;
}
.header .nav-right .set .set-wrap div{
	float: left;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #000;
}
.header .nav-right .set .set-wrap div:hover{
	background-color: dodgerblue;
}

.more-right{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 85px;
}
.more-right .more-2{
	position: absolute;
	top: 28px;
	right: 10px;
	font-size: 13px;
	box-sizing: border-box;
	background-color: rgb(51,136,255);
	height: 20px;
	text-align: center;
	/*line-height: 75px;*/
	/*font-size: 13px;*/
	/*padding: 25px 2px 2px 2px;*/
	color: #fff;
}
.more-right ul{
	/*background-color: rgb(249,249,249);*/
	position: absolute;
	top: 50px;
	/*border-top: 20px;*/
	display: none;
}
.more-right ul .more-3{
	position: absolute;
	top: -21px;
	right: 10px;
	box-sizing: border-box;
	height: 25px;
	text-align: center;
	font-size: 13px;
}
.more-right ul li{
	border:1px solid rgb(240,240,240);
	height: 90px;
	text-align: center;
	color: #000;
	background-color: rgb(249,249,249);
	width: 85px;
}
.more-right ul li a{
	color: rgb(102,102,102);
	font-size: 12px;
}
.more-right ul li img{
	display: block;
	width: 35px;
	height: 35px;
	margin: 10px auto;
}
.more-right ul li a:hover{
	text-decoration: underline;
}
.more-right ul li .qb{
	text-decoration: underline;
}
.more-right:hover{
	background-color: rgb(249,249,249); 
	/*color: #fff;*/
}
.more-right:hover .more-2{
	/*background-color: rgb(249,249,249);*/
	display: none;
}
.more-right:hover ul{
	display: block;
} 



/*main 部分*/
.main{
	position: relative;
	width: 60%;
	height: 550px;
	margin: 0 auto;
	/*border: 1px solid #ccc;*/
}
.main .img{
	position: absolute;
	left: 30%;
	width: 270px;
	height: 120px;
	/*margin: 0 auto;*/
}
.main .img img{
	width: 100%;
	height: 100%;
}
.main .sou{
	position: absolute;
	top: 170px;
	left: 5%;
	width: 700px;
	height: 40px;
	/*margin: 0 auto;*/
	border: 1px solid #ccc;
}
.main .sou .btn{
	position: absolute;
	top: -1px;
	right: 0;
	height: 42px;
	width: 125px;
	background-color: rgb(49,126,243);
	float: right;
	color: #fff;
	text-align: center;
	line-height: 43px;
	/*border-top: 1px solid rgb(49,126,243);*/
}
.main .sou .cam{
	position: absolute;
	background-image: url(../img/cam.png);
	background-repeat: no-repeat;
	background-position: -6px 0px;
	right: 110px;
	width: 50px;
	height: 40px;
}
/*.main .sou .cam img{
	background-position: 20px 1px;
}*/
.main .sys{
	position: absolute;
	bottom: 0;
	left: 35%;
	width: 23%;
	height: 190px;
	/*border: 1px solid #ccc;*/
}
.main .sys .ewm{
	width: 118px;
	height: 118px;
	margin: 0 auto;
	border: 1px solid rgb(240,240,240);
}
.main .sys .ewm img{
	margin-top: 7px;
	margin-left: 7px;
}
.main .sys .app{
	display: block;
	color: #000;
	font-weight: bolder;
	text-align: center;
	border-top: 5px solid #fff;
}
.main .sys .kk{
	color: rgb(155,153,179);
	text-align: center;
	float: right;
	border-top: 5px solid #fff;
}
.footer{
	width: 750px;
	height: 70px;
	margin: 0 auto;
}
.footer img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

