*{
	margin: 0;
	padding: 0;
}
.box1{
	width: 85px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: linear-gradient(to bottom,#e45711,#ee8210);
	z-index: 99;
}
.logobox{
	height: 126px;
	background: white;
	overflow: hidden;
	text-align: center;
}
.logobox img{
	display: block;
	margin: 15px auto 5px;
}
.menu-btn{
	width: 37px;
	height: 21px;
	margin: 60px auto 0px;
	cursor: pointer;
}
.line1{
	height: 3px;
	width: 37px;
	background: white;
	float: right;
	transition: all 0.5s;
	
}
.line2{
	height: 3px;
	width: 37px;
	background: white;
	float: right;
	transition: all 0.5s;
	margin: 6px 0px;
}
.line3{
	height: 3px;
	width: 26px;
	background: white;
	float: right;
	transition: all 0.5s;
}
.menu-btn:hover .line1{
	width: 50%;
}
.menu-btn:hover .line2{
	width: 75%;
}
.menu-btn:hover .line3{
	width: 100%;
}
.icon-box{
	list-style: none;
	margin-top: 40px;
	cursor: pointer;
}
.icon-box li>img{
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 34px;
}
.icon-box li{
	transition: all 0.5s;
	position: relative;
}
.icon-box li:nth-child(2n){
	height: 28px;
	opacity: 0.3;
	margin: 14px 0px;
	background: url(../img/line.png) no-repeat center;
}
.icon-box li:hover{
	padding-bottom: 10px;
}
.pagehome{
	width: 0px;
	height: 0px;
	position: absolute;
	top: 14px;
	left: 0px;
	background: url(../img/ia_100000032.png) no-repeat center center;
	color: #e86711;
	font-weight: 900;
	overflow: hidden;
}
.icon-box li:hover .pagehome{
	display: block;
	animation:  mypagehome 1s linear forwards;
}
.pagehome img{
	width: 30px;
	height: 34px;
	position: absolute;
	top: 50%;
	left: 22px;
	margin-top: -17px;
}
.pagehome span{
	position: absolute;
	top: 50%;
	left: 60px;
	margin-top: -10px;
	font-size: 18px;
}
.box2{
	height: 1800px;
	width: calc(100% - 85px);
	background: palegreen;
	margin-left: 85px;
}

/*第二个盒子的CSS*/

.first-img{
	height: 301px;
	width: calc(100% - 85px);
	overflow: hidden;
	position: absolute;
}
.first-img img{
	height: 301px;
	width: 100% ;
	position: relative;
}

.box3{
	width: 540px;
	height: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	left: -540px;
	border-left:solid 1px rgba(255,255,255,0.4) ;
	background: linear-gradient(to bottom,#e45711,#ee8210);
	transition: all 0.5s;
}
