*{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 44px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #666666;
	color: white;
	line-height: 44px;
	display: none;
}
.span1{
	float: left;
	margin-left: 42px;
}
.span2{
	width: 15px;
	height: 9px;
	float: right;
	margin-right: 20px;
	margin-top: 17.5px;
	background: url(img/ia_300000009.png) no-repeat -105px -77px;
}
h3{
	font-size: 28px;
	color: rgb(128, 128, 128);
	font-weight: 400;
	letter-spacing: 25px;
	text-align: center;
	margin: 30px 0px 24px;
}
.nav{
	width: 62%;
	height: 37px;
	line-height: 37px;
	margin: 0 auto;
	border-top: solid 1px #bababa;
	border-bottom: solid 1px #bababa;
	text-align: center;
	font-size: 0px;
}
.nav a{
	font-size: 16px;
	color: black;
	margin: 0px 2.3vw;
	text-decoration: none;
}
.banner{
	width: 61.4%;
	height: 23vw;
	margin: 0 auto;
	position: relative;
}
.banner img{
	display: block;
	width: 100%;
	height: 100%;
}
.left{
	width: 32px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -16px;
	background:black url(img/ia_300000009.png) no-repeat -64px -33px;
}
.right{
	width: 32px;
	height: 32px;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -16px;
	background:black url(img/ia_300000009.png) no-repeat -64px -64px;
}
.imglist{
	width: 61.7%;
	margin: 18px auto 0px;
}
.imglist li{
	width: calc((100% - 30px)/3);
	float: left;
	list-style: none;
	text-align: center;
}
.imglist li:nth-child(-n+2){
	margin-right: 15px;
}
.imglist img{
	width: 100%;
}
.footer{
	text-align: center;
	color: rgb(169, 169, 169);
	font-size: 12px;
	clear: both;
	padding-top: 80px;
	padding-bottom: 20px;
}
.footer img{
	display: block;
	margin: 0px auto 15px;
}
@media only screen and (max-width: 480px) {
	.header{
		display: block;
	}
	h3{
		margin-top: 50px;
	}
	.nav{
		display: none;
	}
	.banner{
		width: 88.8%;
	}
	.left{
		left: -2px;
	}
	.right{
		right: -2px;
	}
	.imglist{
		width: 92%;
	}
	.imglist li{
		float: none;
		width:100% ;
		margin-bottom: 75px;
	}
	.footer {
		padding-top: 30px;
	}
}